html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DroidSans-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #686978;
  overflow-x: hidden;
}

.container {
  max-width: 1212px;
  margin: 0 auto;
  padding: 0 15px;
}

.globbutton {
  font-family: 'DroidSans-Bold';
  font-weight: 700;
  padding: 15px 38px;
  border: 2px solid #AE4314;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  cursor: pointer;
  outline: none;
}
