$text: #686978;
$title: #474C65;
$bg: #F9F8F8;

@mixin f700 {
	font-family: 'DroidSans-Bold';
  font-weight: 700;
}

@mixin bgsrp {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

@mixin link {
  &:hover,
  &:focus {
    color: #AE4314;
  }

  &:active {
    color: $text;
  }
}