@import "fonts";
@import "global";
@import "vars";

//start header

.header {
  &__top {
    min-height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address {
    padding-left: 29px;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $text;
    position: relative;
    &::before {
      content: "";
      background-image: url(../images/icons/map.svg);
      @include bgsrp;
      left: 0;
      height: 23px;
      width: 23px;
    }
  }

  &__wrapper {
    background-color: $bg;
  }

  &__menu {
    min-height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  height: 114px;
  width: 114px;
  margin-right: 173px;
}

.nav {
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    margin-right: 70px;
  }

  &__list-item {
    @include f700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: $title;
  }
}

.social {
  &__instagramm,
  &__vk {
    font-size: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/instagram.svg);
      height: 19px;
      width: 19px;
    }
  }

  &__vk {
    &::before {
      background-image: url(../images/icons/vk.svg);
      height: 31px;
      width: 31px;
      left: 20px;
      top: -5px;
    }
  }
}

.contacts {
  &__text {
    font-size: 14px;
    margin-right: 11px;
    letter-spacing: 0.01em;
  }

  &__telegramm,
  &__whatsapp,
  &__telephone {
    margin-right: 20px;
    font-size: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/telegramm.svg);
      @include bgsrp;
      height: 17px;
      width: 20px;
      top: -5px;
      left: 0;
    }
  }

  &__whatsapp {
    &::before {
      background-image: url(../images/icons/whatsapp.svg);
      width: 17px;
    }
  }

  &__telephone {
    &::before {
      background-image: url(../images/icons/phone.svg);
      width: 17px;
    }
  }

  &__number {
    @include f700;
    font-size: 16px;
    color: $title;
  }
}

//end header
//start presentation

.presentation {
  background-image: url(../images/present.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 65%;
  background-color: $bg;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/MaskGroup.png);
    height: 604px;
    width: 108px;
    top: -112px;
    left: 100px;
  }

  &__inner {
    display: flex;
  }

  &__box {
    max-width: 350px;
    min-height: 469px;
    padding-top: 90px;
  }

  &__title {
    @include f700;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 61px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 123px;
      left: 0;
      bottom: -30px;
      background-color: #ae4314;
      z-index: 1;
    }
  }

  &__title-text {
    max-width: 286px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
  }

  &__text-bold {
    @include f700;
  }

  &__box-advantages {
    padding-top: 80px;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 194px;
    height: 112px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 16px;
    text-align: center;
    background-color: #ffffff;
    border-left: 1px solid #ae4314;
  }

  &__number {
    font-size: 24px;
  }
}

//end presentation
//start registration

.registration {
  background-color: #44435d;
  color: #ffffff;
  padding-bottom: 47px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__box-title {
    padding-top: 70px;
    margin-right: 57px;
  }

  &__title {
    @include f700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.01em;
    opacity: 0.61;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 44px;

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include f700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  &__input-box {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 10px;
      right: 40px;
      height: 26px;
      width: 26px;
      background-image: url(../images/calendar3.svg);
      background-repeat: no-repeat;
    }
  }

  &__input-numberbox {
    &::before {
      background-image: url(../images/icons/bed.svg);
    }
  }

  &__input-date,
  &__input-number {
    height: 49px;
    width: 202px;
    padding-left: 24px;
    margin-right: 20px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: $text;
  }

  &__input-number {
    padding-left: 75px;
  }

  &__button {
    padding-left: 53px;
    padding-right: 52px;
    margin-top: 22px;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #ffffff;
  }
}

//end registration
//start advantage

.advantage {
  background-color: $bg;

  &__inner {
    padding-top: 91px;
    padding-bottom: 86px;
  }

  &__title {
    text-align: center;
    margin-bottom: 53px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    max-width: 46%;
  }

  &__item {
    position: relative;
    min-height: 33.33%;
    padding-left: 120px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/advantage-icon1.svg);
      @include bgsrp;
      top: 5px;
      left: 0;
      height: 86px;
      width: 93px;
    }

    &--icon2 {
      &::before {
        background-image: url(../images/icons/advantage-icon2.svg);
        height: 55px;
      }
    }

    &--icon3 {
      &::before {
        background-image: url(../images/icons/advantage-icon3.svg);
        height: 66px;
        width: 66px;
      }
    }

    &--icon4 {
      &::before {
        background-image: url(../images/icons/advantage-icon4.svg);
        height: 94px;
        width: 94px;
      }
    }

    &--icon5 {
      &::before {
        background-image: url(../images/icons/advantage-icon5.svg);
        height: 70px;
        width: 70px;
      }
    }

    &--icon6 {
      &::before {
        background-image: url(../images/icons/advantage-icon6.png);
        height: 101px;
        width: 81px;
      }
    }
  }

  &__item-title {
    @include f700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  &__item-text {
    margin-top: 0;
  }
}

//end advantage
//start apartments

.apartments {
  background-color: $bg;
  position: relative;
  padding-bottom: 172px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 415px;
    width: 100%;
    background: rgba(247, 243, 227, 0.875);
  }

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      height: 2px;
      width: 100%;
      background: rgba(71, 76, 101, 0.5);
    }
  }

  &__item {
    max-width: 269px;
    margin: 0 auto;
    border-bottom: 4px solid transparent;
    z-index: 5;
    &:hover {
      border-bottom: 4px solid #ae4314;
    }
  }

  &__item-title {
    font-size: 24px;
  }

  &__item-image {
    height: 413px;
    width: 269px;
    object-fit: cover;
  }

  &__item-link {
    padding: 15px 34px 15px 36px;
    margin-bottom: 41px;
    font-size: 14px;
    line-height: 20px;
    background-color: #44435d;
    color: #ffffff;
    text-transform: uppercase;
    &:hover,
    &:focus {
      background-color: #000000;
    }

    &:active {
      color: $text;
    }
  }
}

//end apartments
//start promotions

.promotions {
  padding-top: 18px;
  padding-bottom: 100px;
  background-color: $bg;

  &__inner {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 78px;
      bottom: 13px;
      left: 50%;
      right: 50%;
      transform: translate(-34%, 0);
      background-color: #44435D;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__item-wrapper {
    margin-bottom: 60px;
  }

  &__item-slide {
    max-height: 390px;
    overflow: hidden;
  }

  &__item-imagebox {
    height: 264px;
    width: 378px;
    object-fit: cover;
    margin-bottom: 27px;
  }

  &__item-title {
    margin-bottom: 14px;
    width: 378px;
    text-transform: uppercase;
    @include f700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: $title;
  }

  &__item-text {
    width: 378px;

  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__button-prev {
    font-size: 0;
    position: relative;
    margin-right: 118px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-left.svg);
      width: 27px;
      height: 16px;
    }
  }

  &__button-next {
    font-size: 0;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-right.svg);
      width: 27px;
      height: 16px;
    }
  }
}


//end promotions
//start footer


.footer {
  background-image: url(../images/footer-bg.jpg);
  padding-top: 79px;
  color: #ffffff;
  
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  &__logo {
    margin-right: 18px;
  }

  &__info-address {
    max-width: 186px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01%;
  }

  &__info-right {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01%;
  }

  &__menu-title {
    @include f700;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
  }

  &__navigation-column {
    display: flex;
    flex-direction: column;
    margin-right: 56px;
  }

  &__navigation-link {
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01%;
  }

  &__bottom {
    padding-bottom: 47px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }

  &__bottom-title {
    margin-bottom: 24px;
  }

  &__bottom-text {
    font-size: 12px;
    line-height: 17px;
    margin: 0;
  }
}

.contacts {
  &__title {
    @include f700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__telephone--icon {
    &::before {
      background-image: url(../images/icons/phone-white.svg);
    }
  }

  &__number {
    &--display {
      display: block;
      margin-top: 13px;
      margin-bottom: 12px;
      color: #ffffff;
    }
  }

  &__instagramm,
  &__vk {
    display: block;
    padding-left: 30px;
    color: #ffffff;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icons/instagram-white.svg);
      left: 0;
      height: 19px;
      width: 19px;
    }
  }

  &__vk {
    margin-top: 16px;
    &::before {
      background-image: url(../images/icons/vk-white.svg);
      left: -4px;
      height: 26px;
      width: 26px;
    }
  }
}


//end footer
