@import "fonts";
@import "vars";
@import "global";

//start header

.header {
  &__top {
    min-height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address {
    padding-left: 29px;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $text;
    position: relative;
    &::before {
      content: "";
      background-image: url(../images/icons/map.svg);
      @include bgsrp;
      left: 0;
      height: 23px;
      width: 23px;
    }

    @include link;
  }

  &__wrapper {
    background-color: $bg;
  }

  &__menu {
    min-height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-right: 173px;
  &__image {
    height: 114px;
    width: 114px;
  }
}

.nav {
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    margin-right: 70px;
  }

  &__list-item {
    @include f700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: $title;
  }

  &__link {
    @include link;
    color: $title;
    &--active {
      border-bottom: 2px solid #ae4314;
    }
  }
}

.social {
  &__instagramm,
  &__vk {
    font-size: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/instagram.svg);
      height: 19px;
      width: 19px;
    }
  }

  &__vk {
    &::before {
      background-image: url(../images/icons/vk.svg);
      height: 31px;
      width: 31px;
      left: 20px;
      top: -5px;
    }
  }
}

.contacts {
  &__text {
    font-size: 14px;
    margin-right: 11px;
    letter-spacing: 0.01em;
  }

  &__telegramm,
  &__whatsapp,
  &__telephone {
    margin-right: 20px;
    font-size: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/telegramm.svg);
      @include bgsrp;
      height: 17px;
      width: 20px;
      top: -5px;
      left: 0;
    }
  }

  &__whatsapp {
    &::before {
      background-image: url(../images/icons/whatsapp.svg);
      width: 17px;
    }
  }

  &__telephone {
    &::before {
      background-image: url(../images/icons/phone.svg);
      width: 17px;
    }
  }

  &__number {
    @include f700;
    font-size: 16px;
    color: $title;
    @include link;
  }
}

.main-image {
  display: block;
  width: 100%;
  height: 100%;
}

//end header
//start presentation

.presentation {
  background-image: url(../images/present.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $bg;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/MaskGroup.png);
    height: 604px;
    width: 108px;
    top: -112px;
    left: 100px;
  }

  &__inner {
    display: flex;
  }

  &__box {
    max-width: 350px;
    min-height: 469px;
    padding-top: 90px;
  }

  &__title {
    @include f700;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 61px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 123px;
      left: 0;
      bottom: -30px;
      background-color: #ae4314;
      z-index: 1;
    }
  }

  &__title-text {
    max-width: 286px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
  }

  &__text-bold {
    @include f700;
  }

  &__box-advantages {
    padding-top: 80px;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 194px;
    height: 112px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 16px;
    text-align: center;
    background-color: #ffffff;
    border-left: 1px solid #ae4314;
  }

  &__number {
    font-size: 24px;
  }
}

//end presentation
//start registration

.registration {
  background-color: #44435d;
  color: #ffffff;
  padding-bottom: 47px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__box-title {
    padding-top: 70px;
    margin-right: 57px;
  }

  &__title {
    @include f700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.01em;
    opacity: 0.61;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 44px;

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include f700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  &__input-box {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 10px;
      right: 40px;
      height: 26px;
      width: 26px;
      background-image: url(../images/calendar3.svg);
      background-repeat: no-repeat;
    }
  }

  &__input-numberbox {
    &::before {
      background-image: url(../images/icons/bed.svg);
    }
  }

  &__input-date,
  &__input-number {
    height: 49px;
    width: 202px;
    padding-left: 24px;
    margin-right: 20px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: $text;
  }

  &__input-number {
    padding-left: 75px;
  }

  &__button {
    padding-left: 53px;
    padding-right: 52px;
    margin-top: 22px;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #ffffff;
  }
}

//end registration
//start advantage

.advantage {
  background-color: $bg;

  &__inner {
    padding-top: 91px;
    padding-bottom: 86px;
  }

  &__title {
    text-align: center;
    margin-bottom: 53px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    max-width: 46%;
  }

  &__item {
    position: relative;
    min-height: 33.33%;
    padding-left: 120px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/advantage-icon1.svg);
      @include bgsrp;
      top: 5px;
      left: 0;
      height: 86px;
      width: 93px;
    }

    &--icon2 {
      &::before {
        background-image: url(../images/icons/advantage-icon2.svg);
        height: 55px;
      }
    }

    &--icon3 {
      &::before {
        background-image: url(../images/icons/advantage-icon3.svg);
        height: 66px;
        width: 66px;
      }
    }

    &--icon4 {
      &::before {
        background-image: url(../images/icons/advantage-icon4.svg);
        height: 94px;
        width: 94px;
      }
    }

    &--icon5 {
      &::before {
        background-image: url(../images/icons/advantage-icon5.svg);
        height: 70px;
        width: 70px;
      }
    }

    &--icon6 {
      &::before {
        background-image: url(../images/icons/advantage-icon6.png);
        height: 101px;
        width: 81px;
      }
    }
  }

  &__item-title {
    @include f700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  &__item-text {
    max-height: 66px;
    margin-top: 0;
    overflow: hidden;
  }
}

//end advantage
//start apartments

.apartments {
  background-color: $bg;
  position: relative;
  padding-bottom: 172px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 415px;
    width: 100%;
    background: rgba(247, 243, 227, 0.875);
  }

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      height: 2px;
      width: 100%;
      background: rgba(71, 76, 101, 0.5);
    }
  }

  &__item {
    max-width: 269px;
    margin: 0 auto;
    border-bottom: 4px solid transparent;
    z-index: 5;
    &:hover {
      border-bottom: 4px solid #ae4314;
    }
  }

  &__item-title {
    font-size: 24px;
  }

  &__item-image {
    height: 413px;
    width: 269px;
    object-fit: cover;
  }

  &__item-text {
    max-height: 44px;
    overflow: hidden;
  }

  &__item-link {
    padding: 15px 34px 15px 36px;
    margin-bottom: 41px;
    font-size: 14px;
    line-height: 20px;
    background-color: #44435d;
    color: #ffffff;
    text-transform: uppercase;
    @include link;
  }
}

//end apartments
//start promotions

.promotions {
  padding-top: 18px;
  padding-bottom: 100px;
  background-color: $bg;

  &__inner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 78px;
      bottom: 13px;
      left: 50%;
      right: 50%;
      transform: translate(-34%, 0);
      background-color: #44435d;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__item-wrapper {
    margin-bottom: 60px;
  }

  &__item-slide {
    max-height: 390px;
    overflow: hidden;
  }

  &__item-imagebox {
    height: 264px;
    width: 378px;
    object-fit: cover;
    margin-bottom: 27px;
  }

  &__item-title {
    margin-bottom: 14px;
    max-height: 64px;
    width: 378px;
    text-transform: uppercase;
    @include f700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: $title;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-text {
    width: 378px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__button-prev {
    font-size: 0;
    position: relative;
    margin-right: 118px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-left.svg);
      width: 27px;
      height: 16px;
    }
  }

  &__button-next {
    font-size: 0;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-right.svg);
      width: 27px;
      height: 16px;
    }
  }
}

//end promotions
//start footer

.footer {
  background-image: url(../images/footer-bg.jpg);
  padding-top: 79px;
  color: #ffffff;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  &__logo {
    margin-right: 18px;
  }

  &__info-address {
    max-width: 186px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01%;
    @include link;
  }

  &__info-right {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01%;
  }

  &__menu-title {
    @include f700;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
  }

  &__navigation-column {
    display: flex;
    flex-direction: column;
    margin-right: 56px;
  }

  &__navigation-link {
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01%;
    @include link;
  }

  &__bottom {
    padding-bottom: 47px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }

  &__bottom-link {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: underline;
    @include link;
  }

  &__bottom-text {
    font-size: 12px;
    line-height: 17px;
    margin: 0;
  }
}

.contacts {
  &__title {
    @include f700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__telephone--icon {
    &::before {
      background-image: url(../images/icons/phone-white.svg);
    }
  }

  &__number {
    &--display {
      display: block;
      margin-top: 13px;
      margin-bottom: 12px;
      color: #ffffff;
      @include link;
    }
  }

  &__instagramm,
  &__vk {
    display: block;
    padding-left: 30px;
    color: #ffffff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/instagram-white.svg);
      left: 0;
      height: 19px;
      width: 19px;
    }
    @include link;
  }

  &__vk {
    margin-top: 16px;
    &::before {
      background-image: url(../images/icons/vk-white.svg);
      left: -4px;
      height: 26px;
      width: 26px;
    }
  }
}

//end footer

//start about page
//start about

.about {
  background-color: #f9f8f8;

  &__top {
    padding-top: 110px;
    display: flex;
    position: relative;
    z-index: 5;
  }

  &__title {
    max-width: 155px;
    margin-right: 50px;
    font-size: 30px;
    line-height: 42px;
  }

  &__list {
    max-width: 399px;
    &--border {
      border-left: 1px solid #44435d;
      padding-left: 32px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__image1 {
    height: 281px;
    width: 391px;
    object-fit: cover;
    margin-left: 74px;
    margin-bottom: 20px;
  }

  &__image2 {
    height: 341px;
    width: 499px;
    object-fit: cover;
  }

  &__image3 {
    height: 647px;
    width: 389px;
    object-fit: cover;
  }

  &__image-wrapper {
    position: absolute;
    bottom: -230px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    max-width: 909px;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 270px;
    padding-bottom: 100px;
  }

  &__image4 {
    position: absolute;
    width: 408px;
    height: 575px;
    top: 80px;
    left: 510px;
  }

  &__image5 {
    position: absolute;
    width: 599px;
    height: 787px;
    top: -85px;
    left: -120px;
  }
}

//end about
// start partners

.partners {
  background-color: #f9f8f8;
  padding-bottom: 67px;
  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 75px;
    letter-spacing: 0.02em;
  }

  &__logo {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 24px;
    z-index: 5;
    padding-left: 34px;
    padding-right: 34px;
    background-color: #f9f8f8;
  }

  &__logotipes {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    border-top: 1px solid #44435d;
    border-bottom: 1px solid #44435d;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 33px;
  }

  &__image {
    margin: 5px 19px;
  }
}

//end partners
//end about page

// start special page
//start special (promotions)

.special {
  padding-top: 0;

  &__inner {
    padding-top: 90px;
    &::after {
      display: none;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 20px;
    background-color: #f3f3f9;
  }

  &__image {
    max-width: 528px;
    width: 100%;
    object-fit: cover;
  }

  &__description {
    width: 100%;
    padding: 46px 62px;
  }

  &__description-text {
    height: 135px;
    margin-bottom: 15px;
  }

  &__link {
    padding: 17px 30px;
  }
}

//end special page
//start contact page

.location {
  background-color: #F9F8F8;

  &__inner {
    padding-top: 90px;
    padding-bottom: 79px;
  }

  &__contacts-title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__contacts-map {
    height: 420px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
  }

  &__address {
    max-width: 361px;
  }

  &__working {
    display: flex;
    flex-direction: column;
  }

  &__working-text {
    margin-bottom: 7px;
  }

  &__working-mail {
    color: inherit;
    @include link;
  }

  .contacts {
    &__telephone--icon {
      &::before {
        background-image: url(../images/icons/phone.svg);
      }
    }

    &__number--display,
    &__instagramm,
    &__vk {
      color: $title;
      @include link;
    }

    &__instagramm {
      padding-left: 40px;
      &::before {
        background-image: url(../images/icons/instagram.svg);
      }
    }

    &__vk {
      padding-left: 40px;
      &::before {
        background-image: url(../images/icons/vk.svg);
        top: -4px;
        height: 31px;
        width: 31px;
      }
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 24px;
    color: #dc7d7d;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    &--margin {
      margin-bottom: 49px;
    }
  }

  &__wrapper {
    display: flex;
  }
}

.requisites {
  max-width: 500px;
  margin-right: 100px;
  
  &__title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  &__text {
    color: #dc7d7d;
    margin-bottom: 20px;
  }

  &__phone {
    color: #dc7d7d;
    @include link;
  }
}

.payment {
  &__title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 28px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
  }

  &__images-item {
    margin-right: 17px;
  }

  &__rules {
    font-size: 14px;
    line-height: 20px;
    color: $text;
    text-decoration: underline;
    cursor: pointer;
    @include link;
  }
}

//end contact page
//start rules page

.rules {
  padding-top: 65px;
  padding-bottom: 94px;
  background-color: #F9F8F8;

  &__items,
  &__item {
    list-style: decimal;
    padding-left: 25px;
  }

  &__text-title {
    padding-top: 56px;
    margin-bottom: 33px;
    font-size: 22px;
    line-height: 32px;
  }
  
  &__phone,
  &__mail {
    color: #ae4314;
  }
}

//end rules page
//start hotel-room page



