@import "fonts";
@import "global";
@import "vars";

//start header

.header {
  &__top {
    min-height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address {
    padding-left: 29px;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: $text;
    position: relative;
    &::before {
      content: "";
      background-image: url(../images/icons/map.svg);
      @include bgsrp;
      left: 0;
      height: 23px;
      width: 23px;
    }
  }

  &__social-instagramm,
  &__social-vk {
    font-size: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/instagram.svg);
      height: 19px;
      width: 19px;
    }
  }

  &__social-vk {
    &::before {
      background-image: url(../images/icons/vk.svg);
      height: 31px;
      width: 31px;
      left: 20px;
      top: -5px;
    }
  }

  &__tel-text {
    font-size: 14px;
    margin-right: 11px;
    letter-spacing: 0.01em;
  }

  &__tel-telegramm,
  &__tel-whatsapp,
  &__tel-telephone {
    margin-right: 20px;
    font-size: 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/telegramm.svg);
      @include bgsrp;
      height: 17px;
      width: 20px;
      top: -5px;
      left: 0;
    }
  }

  &__tel-whatsapp {
    &::before {
      background-image: url(../images/icons/whatsapp.svg);
      width: 17px;
    }
  }

  &__tel-telephone {
    &::before {
      background-image: url(../images/icons/phone.svg);
      width: 17px;
    }
  }

  &__tel-number {
    @include f700;
    font-size: 16px;
    color: $title;
  }

  &__wrapper {
    background-color: $bg;
  }

  &__menu {
    min-height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  height: 114px;
  width: 114px;
  margin-right: 173px;
}

.nav {
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    margin-right: 70px;
  }

  &__list-item {
    @include f700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: $title;
  }
}

//end header
//start presentation

.presentation {
  background-image: url(../images/present.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 65%;
  background-color: $bg;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-image: url(../images/MaskGroup.png);
    height: 604px;
    width: 108px;
    top: -112px;
    left: 100px;
  }

  &__inner {
    display: flex;
  }

  &__box {
    max-width: 350px;
    min-height: 469px;
    padding-top: 90px;
  }

  &__title {
    @include f700;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 61px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 123px;
      left: 0;
      bottom: -30px;
      background-color: #ae4314;
      z-index: 1;
    }
  }

  &__title-text {
    max-width: 286px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
  }

  &__text-bold {
    @include f700;
  }

  &__box-advantages {
    padding-top: 80px;
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 194px;
    height: 112px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 16px;
    text-align: center;
    background-color: #ffffff;
    border-left: 1px solid #ae4314;
  }

  &__number {
    font-size: 24px;
  }
}

//end presentation
//start registration

.registration {
  background-color: #44435d;
  color: #ffffff;
  padding-bottom: 47px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__box-title {
    padding-top: 70px;
    margin-right: 57px;
  }

  &__title {
    @include f700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.01em;
    opacity: 0.61;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 44px;

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include f700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  
  &__input-box {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 10px;
      right: 40px;
      height: 26px;
      width: 26px;
      background-image: url(../images/calendar3.svg);
      background-repeat: no-repeat;
    }
  }

  &__input-numberbox {
    &::before {
      background-image: url(../images/icons/bed.svg);
    }
  }

  &__input-date,
  &__input-number {
    height: 49px;
    width: 202px;
    padding-left: 24px;
    margin-right: 20px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: $text;
  }

  &__input-number {
    padding-left: 75px;
  }

  &__button {
    padding-left: 53px;
    padding-right: 52px;
    margin-top: 22px;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: #ffffff;
  }
}

//end registration
